html {
    font-size: 1.3rem;
    margin: none;
}

body {
    margin: 0;
    font-size: .8rem;
}


code {
    font-size: .7rem;
    background-color: rgb(231, 221, 206);
}

.window {
    padding: 1rem;
    background-image: url("./grass.HEIC");
    background-repeat: repeat;
    height: calc(100vh - 2rem);
}


#projects {
    background-color: rgb(243, 237, 237);
    padding: .5rem 1rem;
    max-width: 600px;
}

#projects img {
    max-width: 150px;
display: inline;
}

details {
    margin-top: 1rem;
}

#projects a {
    color: rgb(122, 161, 13);
    width: max-content;
    text-decoration: none;
}

#projects a:hover { 
    color: green;
    text-decoration: underline;
}

.flower {
    position: fixed;
    text-decoration: none;
}

.flower:hover {
    text-decoration: underline;
}

details p{
    padding: .5rem;
    margin: 0;
    border-left: .5rem solid rgb(227, 229, 218);
    
}

/* notbook */
#notebook {
    padding: 2rem;
    max-width: 600px;
    margin: auto
}

#notebook a {
    color:rgb(255, 85, 0);
    /* background-color: rgb(255, 255, 255); */
}

#notebook .post {
    margin-top: 1rem;
    background-color: rgb(227, 224, 202);
    padding: 1rem;
    color: rgb(90, 45, 45);

}

#copy {
    bottom: 0;
    background-color: burlywood;
}

#diary {
    left: 80%;
    bottom: 10%;
    background-color: aqua;
}


#draws {
    left: 30%;
    bottom: 20%;
    background-color: rgb(255, 149, 0);
}

#notes {
    left: 90%;
    bottom: 50%;
    background-color: rgb(64, 255, 0);
}