html {
    font-size: 1.1rem;
    margin: none;
}

@font-face {
    font-family: Mono;
    src: url("./fonts/iAWriterMonoS-Regular.ttf");
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 1rem;
}


code {
    font-size: .8rem;
    font-family: Mono;
    background-color: rgb(235, 239, 243);
}

.window {
    padding: 1rem;
    background-image: url("./images/grass.jpg");
    background-repeat: repeat;
    height: calc(100vh - 2rem);
}


#projects {
    background-color: rgb(243, 237, 237);
    padding: 1rem;
    max-width: 600px;
}

#projects img {
    max-width: 150px;
}   

details {
    margin-top: 1rem;
}

#projects a {
    color: rgb(33, 33, 238);
    width: max-content;
    text-decoration: none;
}

#projects a:hover { 
    text-decoration: underline;
}
summary {
    cursor: pointer;
}

.flower {
    position: fixed;
    text-decoration: none;
}

.flower:hover {
    text-decoration: underline;
}

details p{
    padding: .5rem;
    margin: 0;
    background-color: rgb(227, 229, 218);
    
}

/* notebook */
#notebook {
    padding: 2rem;
}

#notepage {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

#notebook a {
    color:rgb(255, 85, 0);
}

#notebook .post {
    margin-right: .5rem;
    margin-bottom: .5rem;
    background-color: rgb(249, 246, 245);
    padding: 1rem;
    color: rgb(57, 52, 48);
    max-width: 600px;
    max-height: fit-content;
}

#copy {
    bottom: 0;
    background-color: rgb(241, 152, 70);
}

#diary {
    left: 80%;
    bottom: 10%;
    background-color: aqua;
}


#draws {
    left: 30%;
    bottom: 20%;
    background-color: rgb(221, 161, 178);
}

#notes {
    left: 90%;
    bottom: 50%;
    background-color: rgb(64, 255, 0);
}