
:root {
    --bg: rgb(240, 239, 233);
  }

html {
    font-size: 1.1rem;
    margin: none;
}

@font-face {
    font-family: Mono;
    src: url("./fonts/iAWriterMonoS-Regular.ttf");
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 1rem;
}


code {
    font-size: .8rem;
    font-family: Mono;
    background-color: var(--bg);
}

#window {
    padding: 1rem;
    /* background-image: url("./images/grass.jpg"); */
    background-repeat: repeat;
    background-color: var(--bg);
    height: calc(100vh - 2rem);
}


#projects {
    background-color: var(--bg);
    padding: 1rem;
    max-width: 600px;
    overflow: auto;
    max-height: calc(100vh - 10rem);

}

#projects img {
    max-width: 150px;
}

details {
    margin-top: 1rem;
}

#buttons {
    display: flex;
    width: max-content;
}

#buttons div {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    cursor:pointer;
}

a {
    color: rgb(41, 56, 142);
}

#projects a {
    width: max-content;
    text-decoration: none;
}

#projects a:hover {
    text-decoration: underline;
}

summary {
    cursor: pointer;
}

details p {
    padding: .5rem;
    margin: 0;
    background-color: rgb(227, 229, 218);

}

/* notebook */
#notebook {
    padding: 2rem;
}

#notebook img{
height: 20rem;
display: inline-block;
}

#nav a {
    display: list-item;
    margin-left: 1rem;
}

#notebook a {
    color: rgb(28, 147, 21);
}

#notebook .date {
    font-style: italic;
}

#notebook .post {
    margin-bottom: 2rem;
    margin-top: 7rem;
    color: rgb(57, 52, 48);
    max-width: 910px;
    max-height: fit-content;
}


/* flowers */


.flower {
    position: fixed;
    text-decoration: none;
}

.flower:hover {
    text-decoration: underline;
}

#copy {
    bottom: 0;
    background-color: rgb(241, 152, 70);
}

#diary {
    left: 60%;
    bottom: 10%;
    background-color: aqua;
}


#draws {
    left: 20%;
    bottom: 20%;
    background-color: rgb(221, 161, 178);
}

#notes {
    left: 80%;
    bottom: 30%;
    background-color: rgb(64, 255, 0);
}

@media only screen and (max-width: 700px) {
    #window {
        height: 100%;
        height: calc(100vh - env(safe-area-inset-bottom) - 2rem);
        height: -webkit-fill-available;
    }

    #notebook img {
        width: 100%;
        height: auto;
        margin-top: .5rem;
    }

    .flower {
        position: inherit;
    }


    #diary {
        left: 60%;
        bottom: 10%;
    }


    #draws {
        left: 23%;
        bottom: 10%;
    }

    #notes {
        left: 50%;
        bottom: 5%;
    }
}